.desktop_hd-desktop_hd-1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #ffffff;
  min-height: 100vh;
}

.desktop_hd-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-0-0 {
  display: flex;
  flex-direction: column;
}

.desktop_hd-0-0-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-0-0-0-0 {
  width: 1440px;
  height: 1350px;
  flex-shrink: 0;
  position: relative;
}

.desktop_hd-adult-1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 375px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../About/avatar.png");
  background-size: 100% 100%;
}

.desktop_hd-0-0-0-0-0-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-path-1 {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 15px;
  background: rgb(251, 250, 250);
  border: 1px solid #979797;
}

.desktop_hd-0-0-0-0-0-0-0-0 {
  display: flex;
  flex-shrink: 0;
  padding-left: 89px;
  padding-right: 102px;
}

.desktop_hd-risefreed_2 {
  width: 243px;
  height: 104px;
  flex-shrink: 0;
  border-width: 0px;
}

.desktop_hd-0-0-0-0-0-0-0-0-1 {
  display: flex;
  flex-direction: column;
  margin-left: 403px;
  padding-top: 32px;
  padding-bottom: 39px;
}

.desktop_hd-0-0-0-0-0-0-0-0-1-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-about-1 {
  width: 89px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111213;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 2.1px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-0-0-0-0-0-0-0-0-2 {
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  padding-top: 32px;
  padding-bottom: 39px;
}

.desktop_hd-0-0-0-0-0-0-0-0-2-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-contact_us-1 {
  width: 167px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111213;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 2.1px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-0-0-0-0-0-0-0-0-3 {
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  padding-top: 32px;
  padding-bottom: 39px;
}

.desktop_hd-0-0-0-0-0-0-0-0-3-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-faqs-3 {
  width: 78px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111213;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 2.1px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-0-0-0-0-0-0-0-0-4 {
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  padding-top: 32px;
  padding-bottom: 39px;
}

.desktop_hd-0-0-0-0-0-0-0-0-4-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-forms-1 {
  width: 93px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111213;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 2.1px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-0-0-0-0-0-1 {
  display: flex;
  flex-shrink: 0;
  margin-top: 117px;
  padding-left: 185px;
  padding-right: 555px;
}

.desktop_hd-freedom_is_safety_-6 {
  width: 700px;
  flex-shrink: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  color: #111213;
  font-size: 64px;
  line-height: 73px;
  letter-spacing: 4.8px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-0-0-0-0-0-2 {
  display: flex;
  flex-shrink: 0;
  margin-top: 30px;
  padding-left: 185px;
  padding-right: 640px;
}

.desktop_hd-filing_a_protective-6 {
  width: 615px;
  flex-shrink: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  color: #111213;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 2.7px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-0-0-0-0-0-3 {
  display: flex;
  flex-shrink: 0;
  margin-top: 39px;
  padding-left: 191px;
  padding-right: 649px;
}

.desktop_hd-our_project_helps_yo-1 {
  width: 600px;
  flex-shrink: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  color: #111213;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 2.333333px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-0-0-0-0-0-4 {
  display: flex;
  flex-shrink: 0;
  margin-top: 30px;
  padding-left: 185px;
  padding-right: 668px;
}

.desktop_hd-path-9 {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 19px;
  border-radius: 8px;
  background: rgb(82, 113, 255);
  border: 1px solid #979797;
}

.desktop_hd-0-0-0-0-0-4-0-0 {
  display: flex;
  flex-shrink: 0;
  padding-left: 49px;
  padding-right: 58px;
}

.desktop_hd-should_i_consider_a-1 {
  width: 478px;
  flex-shrink: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  color: #f7f7f7;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-0-0-0-0-0-5 {
  display: flex;
  flex-shrink: 0;
  margin-top: 33px;
  padding-left: 191px;
  padding-right: 644px;
}

.desktop_hd-your_information_wil-6 {
  width: 605px;
  flex-shrink: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  color: #111213;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 2.166667px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-path-7 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 66px;
  padding-bottom: 60px;
  position: absolute;
  top: 925px;
  left: 0px;
  background: rgb(255, 253, 253);
  border: 1px solid #979797;
}

.desktop_hd-0-0-0-0-1-0 {
  display: flex;
  flex-shrink: 0;
  padding-left: 304px;
  padding-right: 304px;
}

.desktop_hd-proudly_created_with-5 {
  width: 830px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 31px;
  line-height: 35px;
  letter-spacing: 2px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-0-0-0-0-1-1 {
  display: flex;
  flex-shrink: 0;
  margin-top: 30px;
  padding-left: 434px;
  padding-right: 434px;
}

.desktop_hd-cs5 {
  width: 230px;
  height: 230px;
  flex-shrink: 0;
  border-width: 0px;
}

.desktop_hd-0-0-0-0-1-1-1 {
  display: flex;
  flex-direction: column;
  margin-left: 115px;
  padding-top: 5px;
}

.desktop_hd-0-0-0-0-1-1-1-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-legalaidbureau-4 {
  width: 225px;
  height: 225px;
  flex-shrink: 0;
  border-width: 0px;
}

.desktop_hd-1 {
  display: flex;
  flex-shrink: 0;
  margin-top: 1px;
}

.desktop_hd-1-0 {
  display: flex;
  flex-direction: column;
}

.desktop_hd-1-0-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-1-0-0-0 {
  width: 1440px;
  height: 1499px;
  flex-shrink: 0;
  position: relative;
}

.desktop_hd-path-5 {
  width: 1440px;
  height: 900px;
  flex-grow: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgb(82, 113, 255);
  border: 1px solid #979797;
}

.desktop_hd-friends-7 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 252px;
  padding-bottom: 96px;
  position: absolute;
  top: 815px;
  left: 0px;
  background-image: url("../About/avatar.png");
  background-size: 100% 100%;
}

.desktop_hd-1-0-0-0-1-0 {
  display: flex;
  flex-shrink: 0;
  padding-left: 141px;
  padding-right: 308px;
}

.desktop_hd-the_national_domesti-7 {
  width: 529px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-cambridge_police_dep-1 {
  width: 401px;
  flex-shrink: 0;
  margin-left: 56px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-1-0-0-0-1-1 {
  display: flex;
  flex-shrink: 0;
  margin-top: 38px;
  padding-left: 142px;
  padding-right: 551px;
}

.desktop_hd-1-0-0-0-1-1-0 {
  display: flex;
  flex-direction: column;
  padding-bottom: 11px;
}

.desktop_hd-1-0-0-0-1-1-0-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-respond_inc_-3 {
  width: 191px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-1-0-0-0-1-1-1 {
  display: flex;
  flex-direction: column;
  margin-left: 394px;
  padding-top: 11px;
}

.desktop_hd-1-0-0-0-1-1-1-0 {
  display: flex;
  flex-shrink: 0;
}

.desktop_hd-casa_myrna-1 {
  width: 157px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-1-0-0-0-1-2 {
  display: flex;
  flex-shrink: 0;
  margin-top: 49px;
  padding-left: 142px;
  padding-right: 67px;
}

.desktop_hd-atask_-_asian_domest-8 {
  width: 549px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-national_resource_ce-1 {
  width: 641px;
  flex-shrink: 0;
  margin-left: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-1-0-0-0-1-3 {
  display: flex;
  flex-shrink: 0;
  margin-top: 49px;
  padding-left: 135px;
  padding-right: 490px;
}

.desktop_hd-freefrom_-_economic-5 {
  width: 485px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-transition_house-1 {
  width: 225px;
  flex-shrink: 0;
  margin-left: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-1-0-0-0-1-4 {
  display: flex;
  flex-shrink: 0;
  margin-top: 49px;
  padding-left: 135px;
  padding-right: 565px;
}

.desktop_hd-jane_doe_inc_-5 {
  width: 183px;
  flex-shrink: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-safe_haven-1 {
  width: 150px;
  flex-shrink: 0;
  margin-left: 402px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-we_believe_that_ever-8 {
  width: 1039px;
  flex-grow: 1;
  position: absolute;
  top: 102px;
  left: 185px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 4px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-other_resources_to_s-8 {
  width: 628px;
  flex-grow: 1;
  position: absolute;
  top: 958px;
  left: 220px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 31px;
  line-height: 35px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

.desktop_hd-2 {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.pd-onhover-parent > .pd-onhover {
  display: none;
}

.pd-onhover-parent:hover > * {
  display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
  display: flex;
}

.pd-onactive-parent > .pd-onactive {
  display: none;
}

.pd-onactive-parent:active > * {
  display: none;
}

.pd-onactive-parent:active > .pd-onactive {
  display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
  display: none;
}
